# gitignore patterns for wwwoffle
*~
*.[oa]
Makefile
/config.log
/config.status
/conf/wwwoffle.conf.install
/doc/wwwoffle.conf.man.install
/src/autoconfig.h
/src/autoconfig.h.in
/src/conv_urlhash_file
/src/css.c
/src/html.c
/src/htmlmodify.c
/src/make_urlhash_file
/src/messages.c
/src/restore_Ufiles
/src/vrml.c
/src/wwwoffle
/src/wwwoffle-tools
/src/wwwoffled
/src/xml.c
/src/testprogs/test-doc
/src/testprogs/test-gif
/src/testprogs/test-io
/src/testprogs/test-modify
/src/testprogs/test-msg
TAGS
